<div class="page-header">
    <h1>Ver Cuentas de Ahorro</h1>
</div>
<br />
<div>
    <div class="row">
        <div class="col-lg-6">
            <div class="input-group custom-search-form">
                <input type="text" class="form-control" placeholder="Search..." ng-model="searchStr">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button">
                        <i class="fa fa-search"></i>
                    </button>
                </span>
            </div>
        </div>
    </div>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Número de cuenta</th>
                <th>Número de SINPE</th>
                <th>Balance</th>
                <th>Saldo bloqueado</th>
                <th>Saldo congelado</th>
                <th>Divisa de la cuenta</th>
                <th>Cédula de titular</th>

            </tr>
        </thead>
        <tbody>

            <tr ng-repeat="cuenta in cuentas | filter: searchStr">
                <td>{{cuenta.NUMERO_CUENTA}}</td>
                <td>{{cuenta.sinpe}}</td>
                <td>{{cuenta.balance}}</td>
                <td>{{cuenta.saldobloqueado}}</td>
                <td>{{cuenta.saldo_congelado}}</td>
                <td>{{cuenta.divisa}}</td>
                <td>{{cuenta.cedula}}</td>




                <td>
                    <!--<button class="btn btn-danger" ng-click="deletePersona(persona)">X</button>-->
                </td>
            </tr>
        </tbody>
    </table>

    <!--<input type="text" required ng-model="newPersona" />
    <a href="#" class="btn btn-primary" ng-click="addPersona()">Add Persona</a>-->
</div>